<div class="editPage">
	<h1>Editing artist</h1>

	<h2>Upload your background image</h2>

	<%= @bk_image_upload.html_safe %>

	<%= @form.html_safe %>

	<%= link_to 'Show', artist_link_path(@artist.url_slug) %>
	<%= link_to 'Back', artists_path %>
</div>