
<!--hides logo and nav when clicking in from an artist page-->
<script type="text/javascript" src="/javascripts/hide-logo-and-nav.js"></script>

<article>
  <div class="row-fluid">
    <!-- Contact form -->
    <div class="span10 offset1">
      <div class="row-fluid">
            <h1>Editing artist</h1>

            <h3>Change Your Profile Image</h3>

            <%= @profile_image_upload.html_safe %>

            <h3>Change your background Image</h3>

            <%= @bk_image_upload.html_safe %>


            <h3>Change or upload your logo</h3>

            <%= @logo_image_upload.html_safe %>

            <h3>Update Info</h3>
            <%= @form.html_safe %>

      </div>
    </div>
  </div>
</article>
