<!--hides logo and nav when clicking in from an artist page-->
<script type="text/javascript" src="/javascripts/hide-logo-and-nav.js"></script>

<div class="editPage">

	<h1>New artist</h1>

	<%= @form.html_safe %>

	<%= link_to 'Back', artists_path %>

</div>