<h1><%= @album.al_name %> </h1>

<%= render 'form' %>

<h2>Download Keys</h2>
<p><%= link_to "Download CSV", album_create_code_path(format: "csv") %></p>

<ul>
 <% @album.album_codes.each do |t| %>
	<li><%= t.album_code %></li>

 <% end %>

</ul>


