@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-vp2n1p');
	src:url('fonts/icomoon.eot?#iefix-vp2n1p') format('embedded-opentype'),
		url('fonts/icomoon.woff?-vp2n1p') format('woff'),
		url('fonts/icomoon.ttf?-vp2n1p') format('truetype'),
		url('fonts/icomoon.svg?-vp2n1p#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-uniE607:before {
	content: "\73";
}
.icon-uniE606:before {
	content: "\53";
}
.icon-uniE605:before {
	content: "\47";
}
.icon-uniE604:before {
	content: "\54";
}
.icon-uniE603:before {
	content: "\74";
}
.icon-uniE602:before {
	content: "\67";
}
.icon-uniE601:before {
	content: "\66";
}
.icon-uniE600:before {
	content: "\46";
}
.icon-uni2A:before {
	content: "\2a";
}
.icon-uni21:before {
	content: "\21";
}
.icon-uni22:before {
	content: "\22";
}
.icon-uni24:before {
	content: "\24";
}
.icon-uni26:before {
	content: "\26";
}
.icon-uni25:before {
	content: "\25";
}
.icon-uni27:before {
	content: "\27";
}
.icon-uni23:before {
	content: "\23";
}
.icon-close:before {
	content: "\58";
}
.icon-cross:before {
	content: "\78";
}
