@font-face {
	font-family: 'icomoon';
	src:url('..fonts/icodsfmoon.eot');
	src:url('..fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('..fonts/icosdfsmoon.svg#icomoon') format('svg'),
		url('..fonts/icosdfmoon.woff') format('woff'),
		url('..fonts/icomsdfoon.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'icomoon';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
[class^="icon-"]:before, [class*=" icon-"]:before {
	font-family: 'icomoon';
	font-style: normal;
	speak: none;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
}
.icon-play:before {
	content: "\21";
}
.icon-pause:before {
	content: "\22";
}
.icon-volume:before {
	content: "\23";
}
.icon-volume-2:before {
	content: "\24";
}
