@font-face {
	font-family: 'icomoon';
	src:url('../icomoon/fonts/icomoon.eot');
	src:url('../icomoon/fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../icomoon/fonts/icomoon.svg#icomoon') format('svg'),
		url('../icomoon/fonts/icomoon.woff') format('woff'),
		url('../icomoon/fonts/icomoon.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'icomoon';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
[class^="icon-"]:before, [class*=" icon-"]:before {
	font-family: 'icomoon';
	font-style: normal;
	speak: none;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
}
.icon-play:before {
	content: "\21";
}
.icon-pause:before {
	content: "\22";
}
.icon-volume:before {
	content: "\23";
}
.icon-volume-2:before {
	content: "\24";
}

.logo-black-large 	{background: url('/images/logo/logo-black-large.png');}
.logo-black-medium 	{background: url('/images/logo/logo-black-medium.png');}
.logo-black-small 	{background: url('/images/logo/logo-black-small.png'); height:53px; width:138px;}
.logo-white-large 	{background: url('/images/logo/logo-white-large.png');}
.logo-white-medium 	{background: url('/images/logo/logo-white-medium.png');}
.logo-white-small	{background: url('/images/logo/logo-white-small.png'); height:53px; width:138px;}
/*.logo-transparent-white-small {background: url('/images/logo/logo-transparent-small.png'); height:53px; width:138px;}*/

.logo-transparent-white-small{
	background: url('../../images/sprites.png') 0px -96px no-repeat;
	height: 36px;
	width: 114px;
	margin-left: 10px;
	margin-top: 8px;
}

.backPane
{
	z-index:100;
	width: 25px;
	top:0;
	left: -30px;
	display:block;
	background-color: #F00;
}
.leftPane
{
	float:left;
	vertical-align: top;
	width:25%;
}
.leftPane div {
	padding-right:15px;
}

.rightPane
{
	float:right;
	/*font-family: arial;*/
	/*font-size:14px;*/
	width:75%;
}

.rightPane h1
{
	text-align: left;
/*	font-family: 'verb_regularregular';
	font-size:20px;*/
}
.rightPane .albumDesc
{
	text-align: left;
/*	font-family: 'verb_lightregular';
	font-size:16px;
	color:#aaa;*/
	font-weight: 100;
}

.rightPane .details {
	text-align: left;
/*	font-family: 'verb_lightregular';
	font-size:14px;
	color:#aaa;*/
}

.p10t{
	padding-top:10px;
}

.p5t{
	padding-top:5px;
}

.p5l{
	padding-left:5px;
}

.p15l {
	padding-left:15px;
}

.m30l{
	margin-left:30px;
}

.m15t {
	margin-top:15px;
}

.uppercase {text-transform:uppercase;}

.albumLink{
	text-decoration: none !important;
	/*font-size: 16px !important;*/
}
.song-list{
	width:50%;
	margin: 0 auto;
}

.rightPane table
{
	width:100%;
	text-align: left;
/*	font-family: 'verb_lightregular';
	font-size:16px;
	color:#aaa;*/
	font-weight: 100;
	margin-right:15px;
}

.rightPane td {
	padding: 10px;
}

.bold {
	font-weight: bold;
}

.dn {display:none;}

.pwyc_form {
	width:100%;
	display: inline-block;
	text-align:center;
}

.artistImage {
    height: 315px;
    display:block;
    margin:0 auto;
}

.colorTheme {
	position:relative;
	height: 34px;
	background-color: #f9f9f9;
	margin: 30px 25px 10px 3px;
	padding: 3px 12px;
}

.colorTheme .caret {
	position: absolute;
	right: 8px;
	top: 24px;
}

.swatch {
	height: 32px;
	width: 36px;
	float: left;
	border: 1px solid #fff;
	margin-left:1px;
}

.rounded {
	-webkit-border-top-left-radius: 4px!important;
	-webkit-border-bottom-left-radius: 4px!important;
	-moz-border-radius-topleft: 4px!important;
	-moz-border-radius-bottomleft: 4px!important;
	border-top-left-radius: 4px!important;
	border-bottom-left-radius: 4px!important;
	-webkit-border-top-right-radius: 4px!important;
	-webkit-border-bottom-right-radius: 4px!important;
	-moz-border-radius-topright: 4px!important;
	-moz-border-radius-bottomright: 4px!important;
	border-top-right-radius: 4px!important;
	border-bottom-right-radius: 4px!important;	
}

#uploadNotice {
	width:325px;
	position:absolute;
	top:0;
}

#uploadNotice .close {
	font-size: 25px;
}