<form action="https://<%=@bucket%>.s3.amazonaws.com" method="post" enctype="multipart/form-data" class='direct-upload'>

	<input type="hidden" name= "key" />
	<input type="hidden" name= "AWSAccessKeyId" value="AKIAJBCDYICH6VCMN6ZA" />
	<input type="hidden" name="acl" value="public-read" />
	<input type="hidden" name="x-amz-meta-my-file-name" value="" />
	<input type="hidden" name="Content-Type" value="image" />
	<input type="hidden" name="policy"/>
	<input type="hidden" name="signature"/>
	<input type="hidden" name="success_action_status" value="201" />

	<input type="file" name="file" class="s3_upload" id="<%=image_type %>" data-object_id="<%= image_name %>" data-object_type="image" data-object_image_save_url="<%= image_save_url%>" />

	<!--- # You can recognize some bootstrap markup here :)-->
	<div class="progressContainer" style="display:none;">
		<div class="progress progress-striped active">
			<div class="bar"></div>
		</div>
		<div class="percent"></div>
	</div>
</form>