<h1>This is the home page <%= @name %>
<%= link_to 'Artists', artists_path %></h1>

<h2 class="editable" field_name="country" object="artist" id="3" contenteditable="true">Title </h2>

<h2>something else</h2>