<div class="pages black-bg white paralax" id="page-thankyou" >

  <!-- Centralized content -->

  <div class="container">
    <!-- Header -->
    <header>

      <h1>Having an issue?</h1>
      <div class="row">
        <div class="span8 offset2">
          <p>
            Email us <a href="mailto:support@threerepeater.com">support@threerepeater.com</a>.  </br>
            We will get back to you in under 24 hours.
          </p>
        </div>
      </div>
    </header>
    <!-- End Header -->

  </div>
</div>