
<html>

<head>
  <title>Terms-and-Conditions-for-Website.docx
  </title>
  <meta content="text/html; charset=UTF-8" http-equiv="content-type">
  <style type="text/css">ol.lst-kix_i44mcmb54rv-8.start{counter-reset:lst-ctn-kix_i44mcmb54rv-8 0}.lst-kix_i44mcmb54rv-8>li{counter-increment:lst-ctn-kix_i44mcmb54rv-8}.lst-kix_mijr17asnavf-1>li:before{content:"\0025cb  "}ol.lst-kix_i44mcmb54rv-5.start{counter-reset:lst-ctn-kix_i44mcmb54rv-5 0}.lst-kix_gfrwbxtqsldv-4>li:before{content:"\0025cb  "}.lst-kix_i44mcmb54rv-4>li{counter-increment:lst-ctn-kix_i44mcmb54rv-4}.lst-kix_mijr17asnavf-4>li:before{content:"\0025cb  "}ol.lst-kix_i44mcmb54rv-4{list-style-type:none}ol.lst-kix_i44mcmb54rv-5{list-style-type:none}ol.lst-kix_i44mcmb54rv-0.start{counter-reset:lst-ctn-kix_i44mcmb54rv-0 0}ol.lst-kix_i44mcmb54rv-6{list-style-type:none}.lst-kix_wgxxb9617696-8>li:before{content:"\0025a0  "}ol.lst-kix_i44mcmb54rv-7{list-style-type:none}ol.lst-kix_i44mcmb54rv-8{list-style-type:none}.lst-kix_i44mcmb54rv-7>li{counter-increment:lst-ctn-kix_i44mcmb54rv-7}.lst-kix_i44mcmb54rv-2>li{counter-increment:lst-ctn-kix_i44mcmb54rv-2}.lst-kix_wgxxb9617696-2>li:before{content:"\0025a0  "}ol.lst-kix_i44mcmb54rv-0{list-style-type:none}ol.lst-kix_i44mcmb54rv-1{list-style-type:none}ol.lst-kix_i44mcmb54rv-2{list-style-type:none}.lst-kix_wgxxb9617696-5>li:before{content:"\0025a0  "}ol.lst-kix_i44mcmb54rv-3{list-style-type:none}.lst-kix_mijr17asnavf-3>li:before{content:"\0025cf  "}ul.lst-kix_mijr17asnavf-0{list-style-type:none}ul.lst-kix_mijr17asnavf-1{list-style-type:none}.lst-kix_i44mcmb54rv-8>li:before{content:"" counter(lst-ctn-kix_i44mcmb54rv-8,lower-roman) ". "}.lst-kix_gfrwbxtqsldv-0>li:before{content:"\0025cf  "}.lst-kix_mijr17asnavf-2>li:before{content:"\0025a0  "}.lst-kix_i44mcmb54rv-3>li:before{content:"" counter(lst-ctn-kix_i44mcmb54rv-3,decimal) ". "}.lst-kix_wgxxb9617696-4>li:before{content:"\0025cb  "}ul.lst-kix_wgxxb9617696-2{list-style-type:none}ul.lst-kix_wgxxb9617696-1{list-style-type:none}.lst-kix_gfrwbxtqsldv-2>li:before{content:"\0025a0  "}ul.lst-kix_wgxxb9617696-0{list-style-type:none}.lst-kix_i44mcmb54rv-5>li{counter-increment:lst-ctn-kix_i44mcmb54rv-5}.lst-kix_i44mcmb54rv-0>li{counter-increment:lst-ctn-kix_i44mcmb54rv-0}ol.lst-kix_i44mcmb54rv-2.start{counter-reset:lst-ctn-kix_i44mcmb54rv-2 0}.lst-kix_wgxxb9617696-0>li:before{content:"\0025cf  "}ol.lst-kix_i44mcmb54rv-3.start{counter-reset:lst-ctn-kix_i44mcmb54rv-3 0}ul.lst-kix_wgxxb9617696-8{list-style-type:none}ul.lst-kix_gfrwbxtqsldv-7{list-style-type:none}ul.lst-kix_wgxxb9617696-7{list-style-type:none}ul.lst-kix_gfrwbxtqsldv-8{list-style-type:none}ul.lst-kix_wgxxb9617696-4{list-style-type:none}.lst-kix_gfrwbxtqsldv-6>li:before{content:"\0025cf  "}ul.lst-kix_wgxxb9617696-3{list-style-type:none}ul.lst-kix_wgxxb9617696-6{list-style-type:none}ul.lst-kix_wgxxb9617696-5{list-style-type:none}.lst-kix_i44mcmb54rv-1>li{counter-increment:lst-ctn-kix_i44mcmb54rv-1}.lst-kix_wgxxb9617696-6>li:before{content:"\0025cf  "}ul.lst-kix_gfrwbxtqsldv-0{list-style-type:none}ul.lst-kix_gfrwbxtqsldv-1{list-style-type:none}ul.lst-kix_gfrwbxtqsldv-2{list-style-type:none}ol.lst-kix_i44mcmb54rv-4.start{counter-reset:lst-ctn-kix_i44mcmb54rv-4 0}ul.lst-kix_gfrwbxtqsldv-3{list-style-type:none}.lst-kix_i44mcmb54rv-2>li:before{content:"" counter(lst-ctn-kix_i44mcmb54rv-2,lower-roman) ". "}.lst-kix_mijr17asnavf-0>li:before{content:"\0025cf  "}ul.lst-kix_gfrwbxtqsldv-4{list-style-type:none}ul.lst-kix_gfrwbxtqsldv-5{list-style-type:none}ul.lst-kix_gfrwbxtqsldv-6{list-style-type:none}ul.lst-kix_mijr17asnavf-8{list-style-type:none}ul.lst-kix_mijr17asnavf-6{list-style-type:none}ul.lst-kix_mijr17asnavf-7{list-style-type:none}ul.lst-kix_mijr17asnavf-4{list-style-type:none}ul.lst-kix_mijr17asnavf-5{list-style-type:none}.lst-kix_i44mcmb54rv-6>li:before{content:"" counter(lst-ctn-kix_i44mcmb54rv-6,decimal) ". "}ul.lst-kix_mijr17asnavf-2{list-style-type:none}.lst-kix_i44mcmb54rv-3>li{counter-increment:lst-ctn-kix_i44mcmb54rv-3}.lst-kix_i44mcmb54rv-4>li:before{content:"" counter(lst-ctn-kix_i44mcmb54rv-4,lower-latin) ". "}ul.lst-kix_mijr17asnavf-3{list-style-type:none}.lst-kix_i44mcmb54rv-7>li:before{content:"" counter(lst-ctn-kix_i44mcmb54rv-7,lower-latin) ". "}.lst-kix_gfrwbxtqsldv-3>li:before{content:"\0025cf  "}.lst-kix_wgxxb9617696-1>li:before{content:"\0025cb  "}.lst-kix_i44mcmb54rv-1>li:before{content:"" counter(lst-ctn-kix_i44mcmb54rv-1,lower-latin) ". "}ol.lst-kix_i44mcmb54rv-7.start{counter-reset:lst-ctn-kix_i44mcmb54rv-7 0}.lst-kix_i44mcmb54rv-0>li:before{content:"" counter(lst-ctn-kix_i44mcmb54rv-0,decimal) ". "}.lst-kix_mijr17asnavf-6>li:before{content:"\0025cf  "}.lst-kix_i44mcmb54rv-6>li{counter-increment:lst-ctn-kix_i44mcmb54rv-6}.lst-kix_wgxxb9617696-7>li:before{content:"\0025cb  "}.lst-kix_mijr17asnavf-7>li:before{content:"\0025cb  "}.lst-kix_wgxxb9617696-3>li:before{content:"\0025cf  "}.lst-kix_i44mcmb54rv-5>li:before{content:"" counter(lst-ctn-kix_i44mcmb54rv-5,lower-roman) ". "}.lst-kix_gfrwbxtqsldv-8>li:before{content:"\0025a0  "}.lst-kix_gfrwbxtqsldv-7>li:before{content:"\0025cb  "}.lst-kix_mijr17asnavf-5>li:before{content:"\0025a0  "}ol.lst-kix_i44mcmb54rv-1.start{counter-reset:lst-ctn-kix_i44mcmb54rv-1 0}.lst-kix_gfrwbxtqsldv-5>li:before{content:"\0025a0  "}ol.lst-kix_i44mcmb54rv-6.start{counter-reset:lst-ctn-kix_i44mcmb54rv-6 0}.lst-kix_gfrwbxtqsldv-1>li:before{content:"\0025cb  "}.lst-kix_mijr17asnavf-8>li:before{content:"\0025a0  "}ol{margin:0;padding:0}.c9{padding-left:0pt;line-height:1.3363636623729358;direction:ltr;margin-left:47pt;padding-bottom:20pt}.c10{padding-left:0pt;line-height:1.3363636623729358;direction:ltr;margin-left:47pt;padding-bottom:28pt}.c17{padding-left:0pt;line-height:1.3363636623729358;margin-left:55pt;padding-bottom:28pt}.c2{color:#333333;font-size:14pt;background-color:#ffffff;font-family:"Arial"}.c6{line-height:1.3;padding-top:30pt;direction:ltr;padding-bottom:3pt}.c21{padding-left:0pt;line-height:1.3363636623729358;margin-left:55pt;padding-bottom:20pt}.c0{line-height:1.3363636623729358;direction:ltr;padding-bottom:8pt}.c8{padding-top:0pt;text-align:left}.c7{color:#1155cc;text-decoration:underline}.c3{color:inherit;text-decoration:inherit}.c16{margin:0;padding:0}.c4{font-size:14pt;font-family:"Arial"}.c19{max-width:468pt;padding:72pt 72pt 72pt 72pt}.c1{padding-top:15pt}.c13{height:11pt}.c20{font-weight:normal}.c22{color:#0066cc}.c18{text-decoration:underline}.c12{font-size:14pt}.c5{background-color:#ffffff}.c11{direction:ltr}.c14{font-style:italic}.c15{font-weight:bold}.title{padding-top:0pt;line-height:1.1500000000000001;text-align:left;color:#000000;font-size:21pt;background-color:#ffffff;font-family:"Trebuchet MS";padding-bottom:0pt}.subtitle{padding-top:0pt;line-height:1.1500000000000001;text-align:left;color:#666666;font-style:italic;font-size:13pt;background-color:#ffffff;font-family:"Trebuchet MS";padding-bottom:10pt}li{color:#333333;font-size:11pt;background-color:#ffffff;font-family:"Verdana"}p{color:#333333;font-size:11pt;background-color:#ffffff;margin:0;font-family:"Verdana"}h1{padding-top:10pt;line-height:1.1500000000000001;text-align:left;color:#000000;font-size:16pt;background-color:#ffffff;font-family:"Trebuchet MS";padding-bottom:0pt}h2{padding-top:10pt;line-height:1.1500000000000001;text-align:left;color:#000000;font-size:13pt;background-color:#ffffff;font-family:"Trebuchet MS";font-weight:bold;padding-bottom:0pt}h3{padding-top:8pt;line-height:1.1500000000000001;text-align:left;color:#666666;font-size:12pt;background-color:#ffffff;font-family:"Trebuchet MS";font-weight:bold;padding-bottom:0pt}h4{padding-top:8pt;line-height:1.1500000000000001;text-align:left;color:#666666;font-size:11pt;background-color:#ffffff;text-decoration:underline;font-family:"Trebuchet MS";padding-bottom:0pt}h5{padding-top:8pt;line-height:1.1500000000000001;text-align:left;color:#666666;font-size:11pt;background-color:#ffffff;font-family:"Trebuchet MS";padding-bottom:0pt}h6{padding-top:8pt;line-height:1.1500000000000001;text-align:left;color:#666666;font-style:italic;font-size:11pt;background-color:#ffffff;font-family:"Trebuchet MS";padding-bottom:0pt}
  </style>
</head>

<body class="span10 offset1"><h1 class="c11"><a name="h.5n2l2t4bweij"></a>

<span>Three Repeater Terms of Service (&quot;Agreement&quot;)
</span></h1>

<p class="c2 c1">

<span>
</span></p>

<p class="c1">

<span class="c4 c13">This Agreement was last modified on March 14, 2014.
</span></p>

<p class="c3 c1">

<span class="c0 c13">Welcome to Three Repeater, a service provided by Three Repeater &nbsp;(&ldquo;Three Repeater&rdquo;, &ldquo;we&rdquo; &ldquo;our&rdquo;, or &ldquo;us&rdquo;).
</span></p>

<p class="c3 c1">

<span class="c0 c13">These Terms of Use govern your use of threerepeater.com (the &ldquo;Website&rdquo;) and services provided by Three Repeater (the &ldquo;Services&rdquo;).
</span></p>

<p class="c2 c1">

<span class="c4">
</span></p>

<p class="c1">

<span class="c4">Please read these Terms of Service completely. &nbsp;This Agreement documents the legally binding terms and conditions attached to the use of the Site at
</span>

<span class="c4 c19 c9"><a class="c11" href="http://www.google.com/url?q=http%3A%2F%2Fwww.threerepeater.com&amp;sa=D&amp;sntz=1&amp;usg=AFQjCNGIPxGz-qB8UquGpFLK-4DCiVKPIA">www.threerepeater.com</a>
</span>

<span class="c4">.
</span></p>

<p class="c1">

<span class="c0">&nbsp;If you do not agree to any of the provisions set out in those documents, you should not use the Website. By accessing or using the , registering an account, or by viewing, accessing, streaming, uploading or downloading any information or content from or to the Website, you represent and warrant that you have read and understood the Terms of Use, will abide by them, and that you are either 18 years of age or more, or you are 13 years of age or more and have your parent(s)&rsquo; or legal guardian(s)&rsquo; permission to use the Website.
</span></p>

<p class="c2 c1">

<span class="c4">
</span></p><h2 class="c1"><a name="h.6ykh3ngllw3m"></a>

<span class="c4">Links to Other Websites
</span></h2>

<p class="c2 c1">

<span class="c4">
</span></p>

<p class="c1">

<span class="c4">Our Site does contain a number of links to other websites and online resources that are not owned or controlled by Three Repeater.
</span></p>

<p class="c2 c1">

<span class="c4">
</span></p>

<p class="c1">

<span class="c4">Three Repeater has no control over, and therefore cannot assume responsibility for, the content or general practices of any of these third party sites and/or services. Therefore, we strongly advise you to read the entire terms and conditions and privacy policy of any site that you visit as a result of following a link that is posted on our site.
</span></p>

<p class="c2 c1">

<span class="c4">
</span></p><h2 class="c1"><a name="h.hjx5ml8m15g4"></a>

<span class="c4">Governing Law
</span></h2>

<p class="c2 c1">

<span class="c4">
</span></p>

<p class="c1">

<span class="c4">This Agreement is governed in accordance with the laws of Ontario, Canada.
</span></p>

<p class="c2 c1">

<span class="c4">
</span></p><h2 class="c1"><a name="h.katp58ntqllz"></a>

<span class="c4">Changes to This Agreement
</span></h2>

<p class="c2 c1">

<span class="c4">
</span></p>

<p class="c1">

<span class="c4">Three Repeater reserves the right to modify these Terms of Service at any time. We do so by posting and drawing attention to the updated terms on the Site. Your decision to continue to visit and make use of the Site after such changes have been made constitutes your formal acceptance of the new Terms of Service.
</span></p>

<p class="c1 c2">

<span class="c4">
</span></p>

<p class="c1">

<span class="c4">Therefore, we ask that you check and review this Agreement for such changes on an occasional basis. Should you not agree to any provision of this Agreement or any changes we make to this Agreement, we ask and advise that you do not use or continue to access the Your Nowhere Town site immediately.
</span></p>



<h2 class="c8 c1"><a name="h.kr399g4ouqfv"></a>

<span class="c0">Contact Us
</span></h2>

<p class="c2 c1">

<span class="c4">
</span></p>

<p class="c1">

<span class="c4">If you have any questions about this Agreement, please feel free to contact us at
</span>

<span class="c4 c22">info
</span>

<span class="c4">@threerepeater.com.
</span></p>

<p class="c2 c1">

<span class="c4">
</span></p><h2 class="c8 c1"><a name="h.kr399g4ouqfv"></a>

<span class="c0">Description of the Website
</span></h2>

<p class="c3 c1">

<span class="c0">Three Repeater is a hosting service. Registered users of the Website may submit, upload and post audio, text, photos, pictures, graphics, comments, and other content, data or information (&ldquo;Content&rdquo;), which will be stored by Three Repeater at the direction of such registered users, and may be shared and distributed by such registered users, and other users of the Three Repeater, using the tools and features provided as part of the Three Repeater and accessible via the Website, Apps and elsewhere. &nbsp;Three Repeater also enables any user of the Website (who may or may not be registered users of the Website) to view, listen to and share Content uploaded and made available by registered users.
</span></p>

<p class="c3 c1">

<span class="c0">We may, from time to time, release new tools and resources on the Website. Any new services and features will be subject to these Terms of Use as well as any additional terms of use that we may release for those specific services or features.
</span></p><h2 class="c1 c8"><a name="h.bto6j4kaj3v2"></a>

<span class="c0">Your Three Repeater Account
</span></h2>

<p class="c3 c1">

<span class="c0">You are not obliged to register to use the Website. However, access certain Services is only available to registered users.
</span></p>

<p class="c3 c1">

<span class="c0">When you register to use the Website, you will provide us with your email address, and will choose a password for your account. You must ensure that the email address that you provide is, and remains, valid.
</span></p>

<p class="c3 c1">

<span class="c0">You are solely responsible for maintaining the confidentiality and security of your username and password, and you will remain responsible for all use of your username and password, and all activity emanating from your account, whether or not such activity was authorized by you.
</span></p>

<p class="c3 c1">

<span class="c0">If your username or password is lost or stolen, or if you believe that your account has been accessed by unauthorized third parties, you are advised to notify Three Repeater in writing, and should change your password at the earliest possible opportunity.
</span></p>

<p class="c3 c1">

<span class="c0">We reserve the right to disallow, cancel, remove or reassign certain usernames and permalinks in appropriate circumstances, as determined by us in our sole discretion, and may, with or without prior notice, suspend or terminate your account if activities occur on that account which, in our sole discretion, would or might constitute a violation of these Terms of Use, or an infringement or violation of the rights of any third party, or of any applicable laws or regulations.
</span></p>

<p class="c3 c1">

<span class="c0">You may terminate your account at any time as described in the Termination section below.
</span></p>

<p class="c3 c2 c1">

<span class="c0">
</span></p><h2 class="c8 c1"><a name="h.4pbu1ui5bu6r"></a>

<span class="c0">Your Use of the Website
</span></h2>

<p class="c3 c1">

<span class="c0">Subject to your strict compliance with these Terms of Use, Three Repeater grants you a limited, personal, non-exclusive, revocable, non-assignable and non-transferable right and licence to use the Website in order to view Content uploaded and posted to the Website, to listen to audio Content streamed from the Webiste and to share and download audio Content using the features of the Website where the appropriate functionality has been enabled by the user who uploaded the relevant Content (the &ldquo;Uploader&rdquo;).
</span></p>

<p class="c3 c1">

<span class="c0">In addition, if you register to use the Website, and subject to your strict compliance with these Terms of Use, Three Repeater grants you a limited, personal, non-exclusive, revocable, non-assignable and non-transferable right and licence to:
</span></p>

<p class="c3 c1">

<span class="c0">(i) submit, upload or post Content to the Website strictly as permitted in accordance with these Terms of Use and any other applicable terms posted on the Website from time to time;
</span></p>

<p class="c3 c1">

<span class="c0">The above licences are conditional upon your strict compliance with these Terms of Use, including, without limitation, the following:
</span></p>

<p class="c3 c1">

<span class="c0">(i) You must not copy, rip or capture, or attempt to copy, rip or capture, any audio Content from the Website or any part of the Website, other than by means of download in circumstances where the relevant Uploader has elected to permit downloads of the relevant item of Content.
</span></p>

<p class="c3 c1">

<span class="c0">(ii) You must not adapt, copy, republish, make available or otherwise communicate to the public, display, perform, transfer, share, distribute or otherwise use or exploit any Content on or from the Website, except (i) where such Content is Your Content, or (ii) as permitted under these Terms of Use, and within the parameters set by the Uploader (for example, under the terms of Creative Commons licences selected by the Uploader).
</span></p>

<p class="c3 c1">

<span class="c0">(iii) You must not use any Content (other than Your Content) in any way that is designed to create a separate content service or that replicates any part of the Website offering.
</span></p>

<p class="c3 c1">

<span class="c0">(iv) You must not employ scraping or similar techniques to aggregate, repurpose, republish or otherwise make use of any Content.
</span></p>

<p class="c3 c1">

<span class="c0">(v) You must not employ any techniques or make use of any services, automated or otherwise, designed to misrepresent the popularity of Your Content on the Website, or to misrepresent your activity on the Website, including without limitation by the use of bots, botnets, scripts, apps, plugins, extensions or other automated means to register accounts, log in, add followers to your account, play Content, follow or unfollow other users, send messages, post comments, or otherwise to act on your behalf, particularly where such activity occurs in a multiple or repetitive fashion. You must not offer or promote the availability of any such techniques or services to any other users of the Website.
</span></p>

<p class="c3 c1">

<span class="c0">(vi) You must not alter or remove, attempt to alter or remove, any trademark, copyright or other proprietary or legal notices contained in, or appearing on, the Website or any Content appearing on the Website (other than Your Content).
</span></p>

<p class="c3 c1">

<span class="c0">(vii) You must not, and must not permit any third party to, copy or adapt the object code of the Website, or reverse engineer, reverse assemble, decompile, modify or attempt to discover any source or object code of any part of the Website, or circumvent or attempt to circumvent or copy any copy protection mechanism or access any rights management information pertaining to Content other than Your Content.
</span></p>

<p class="c3 c1">

<span class="c0">(viii) You must not use the Website to upload, post, store, transmit, display, copy, distribute, promote, make available or otherwise communicate to the public:
</span></p>
<ul class="c10 lst-kix_wgxxb9617696-0 start">
  <li class="c14 c1">

<span class="c0">any Content that is offensive, abusive, libellous, defamatory, obscene, racist, sexually explicit, ethnically or culturally offensive, indecent, that promotes violence, terrorism, or illegal acts, incites hatred on grounds of race, gender, religion or sexual orientation, or is otherwise objectionable in Three Repeaters reasonable discretion;
</span></li>
  <li class="c14 c1">

<span class="c0">any information, Content or other material that violates, plagiarises, misappropriates or infringes the rights of third parties including, without limitation, copyright, trademark rights, rights of privacy or publicity, confidential information or any other right; or
</span></li>
  <li class="c14 c1">

<span class="c0">any Content that violates, breaches or is contrary to any law, rule, regulation, court order or is otherwise is illegal or unlawful in Three Repeaters reasonable opinion;
</span></li>
  <li class="c1 c14">

<span class="c0">any material of any kind that contains any virus, Trojan horse, spyware, adware, malware, bot, time bomb, worm, or other harmful or malicious component, which or might overburden, impair or disrupt the Website or servers or networks forming part of, or connected to, the Website, or which does or might restrict or inhibit any other user&#39;s use and enjoyment of the Website; or
</span></li>
  <li class="c14 c1">

<span class="c0">any unsolicited or unauthorised advertising, promotional messages, spam or any other form of solicitation.
</span></li>
</ul>

<p class="c3 c1 ">

<span class="c0">(ix) You must not commit or engage in, or encourage, induce, solicit or promote, any conduct that would constitute a criminal offence, give rise to civil liability or otherwise violate any law or regulation.
</span></p>

<p class="c3 c1">

<span class="c0">(x) You must not rent, sell or lease access to the Website, or any Content on the Website, although this shall not prevent you from including links from Your Content to any legitimate online download store from where any item of Your Content may be purchased.
</span></p>

<p class="c3 c1">

<span class="c0">(xi) You must not deliberately impersonate any person or entity or otherwise misrepresent your affiliation with a person or entity, for example, by registering an account in the name of another person or company, or sending messages or making comments using the name of another person.
</span></p>

<p class="c3 c1">

<span class="c0">(xii) You must not stalk, exploit, threaten, abuse or otherwise harass another user, or any Three Repeater employee.
</span></p>

<p class="c3 c1">

<span class="c0">(xiii) You must not use or attempt to use another person&#39;s account, password, or other information, unless you have express permission from that other person.
</span></p>

<p class="c3 c1">

<span class="c0">(xiv) You must not sell or transfer, or offer to sell or transfer, any Website account to any third party without the prior written approval of Website.
</span></p>

<p class="c3 c1">

<span class="c0">(xv) You must not collect or attempt to collect personal data, or any other kind of information about other users, including without limitation, through spidering or any form of scraping.
</span></p>

<p class="c3 c1">

<span class="c0">(xvi) You must not violate, circumvent or attempt to violate or circumvent any data security measures employed by Three Repeater or any Uploader; access or attempt to access data or materials which are not intended for your use; log into, or attempt to log into, a server or account which you are not authorized to access; attempt to scan or test the vulnerability of Three Repeater servers, system or network or attempt to breach Repeaters data security or authentication procedures; attempt to interfere with the Website or the Services by any means including, without limitation, hacking Three Repeaters servers or systems, submitting a virus, overloading, mail-bombing or crashing. Without limitation to any other rights or remedies of Three Repeaters under these Terms of Use, Three Repeater reserves the right to investigate any situation that appears to involve any of the above, and may report such matters to, and co-operate with, appropriate law enforcement authorities in prosecuting any users who have participated in any such violations.
</span></p>

<p class="c3 c1">

<span class="c0">You agree to comply with the above conditions, and acknowledge and agree that Three Repeater has the right, in its sole discretion, to terminate your account or take such other action as we see fit if you breach any of the above conditions or any of the other terms of these Terms of Use. This may include taking court action and/or reporting offending users to the relevant authorities.
</span></p>


<p class="c1">
<h2 class="c8 c1">
<span class="c0">Intellectual Property
</span>
</h2>
</p>

<p class="c2 c1">

<span class="c4">
</span></p>

<p class="c1">

<span class="c4">The Site and all of its original content are the sole property of Three Repeater and are, as such, fully protected by the appropriate international copyright and other intellectual property rights laws.
</span></p>

<p class="c2 c1">

<span class="c4">
</span></p><h2 class="c8 c1"><a name="h.g9si2fbwuczc"></a>

<span class="c0">Your Content
</span></h2>

<p class="c3 c1">

<span class="c0">Any and all audio, text, photos, pictures, graphics, comments, and other content, data or information that you upload, store, transmit, submit, exchange or make available to or via the Website (hereinafter &quot;Your Content&quot;) is generated, owned and controlled solely by you, and not by Three Repeater.
</span></p>

<p class="c3 c1">

<span class="c0 c22">Three Repeater does not claim any ownership rights in Your Content, and you hereby expressly acknowledge and agree that Your Content remains your sole responsibility.
</span></p>

<p class="c3 c1">

<span class="c0">Without prejudice to the conditions set forth in  Your Use of the Website
</span>


<span class="c0">you must not upload, store, distribute, send, transmit, display, perform, make available or otherwise communicate to the public any Content to which you do not hold the necessary rights. In particular, any unauthorized use of copyright protected material within Your Content (including by way of reproduction, distribution, modification, adaptation, public display, public performance, preparation of derivative works, making available or otherwise communicating to the public via the Website) may constitute an infringement of third party rights and is
</span>

<span class="c0 c13">strictly prohibited
</span>

<span class="c0">. Any such infringements may result in termination of your access to the Website as described in the Repeat Infringers
</span>


<span class="c0">&nbsp;section below, and may also result in civil litigation or criminal prosecution by or on behalf of the relevant rightsholder.
</span></p>

<p class="c3 c1">

<span class="c0">We may, from time to time, invite or provide you with means to provide feedback regarding the Website, and in such circumstances, any feedback you provide will be deemed non-confidential and Three Repeater shall have the right, but not the obligation, to use such feedback on an unrestricted basis.
</span></p><h2 class="c8 c1"><a name="h.awz7d6y8an6n"></a>

<span class="c0">Grant of Licence
</span></h2>

<p class="c3 c1">

<span class="c0">By uploading or posting Your Content to the Website, you initiate an automated process to transcode any audio Content and direct Three Repeater to store Your Content on our servers, from where you may control and authorise the use, reproduction, transmission, distribution, public display, public performance, making available and other communication to the public of Your Content on the Website and elsewhere using the Services. To the extent it is necessary in order for Three Repeater to provide you with any of the aforementioned hosting services, to undertake any of the tasks set forth in these Terms of Use and/or to enable your use of the Website, you hereby grant such licences to Three Repeater on a limited, worldwide, non-exclusive, royalty-free and fully paid basis.
</span></p>

<p class="c3 c1">

<span class="c0">By uploading Your Content to the Website, you also grant a limited, worldwide, non-exclusive, royalty-free, fully paid up, licence to other users of the Website, and to operators and users of any other websites, apps and/or Websites to which Your Content has been shared or embedded using the Services (&ldquo;Linked Services&rdquo;), to use, copy, repost, transmit or otherwise distribute, publicly display, publicly perform, adapt, prepare derivative works of, compile, make available and otherwise communicate to the public, Your Content utilising the features of the Website from time to time, and within the parameters set by you using the Services. You can limit and restrict the availability of certain of Your Content to other users of the Website, and to users of Linked Services, at any time using the settings on the sound page for each sound you upload, subject to the provisions of the
</span>

<span class="c0">Disclaimer section below. Notwithstanding the foregoing, nothing in these Terms of Use grants any rights to any other user of the Website with respect to any proprietary name, logo, trademark or service mark uploaded by you as part of Your Content (for example, your profile picture) (&ldquo;Marks&rdquo;), other than the right to reproduce, publicly display, make available and otherwise communicate to the public those Marks, automatically and without alteration, as part of the act of reposting sounds with which you have associated those Marks.
</span></p>

<p class="c3 c1">

<span class="c0">The licences granted in this section are granted separately with respect to each item of Your Content that you upload to the Website. Licences with respect to audio Content, and any images or text within your account, will (subject to the following paragraph of these Terms of Use) terminate automatically when you remove such Content from your account. Licences with respect to comments or other contributions that you make on the Website will be perpetual and irrevocable, and will continue notwithstanding any termination of your account.
</span></p>

<p class="c3 c1">

<span class="c0">Removal of audio Content from your account will automatically result in the deletion of the relevant files from Three Repeater&rsquo;s systems and servers. However, notwithstanding the foregoing, you hereby acknowledge and agree that once Your Content is distributed to a Linked Service, Three Repeater is not obligated to ensure the deletion of Your Content from any servers or systems operated by the operators of any Linked Service, or to require that any user of the Website or any Linked Service deletes any item of Your Content.
</span></p>

<p class="c3 c1">

<span class="c0">Any Content other than Your Content is the property of the relevant Uploader, and is or may be subject to copyright, trademark rights or other intellectual property or proprietary rights. Such Content may not be downloaded, reproduced, distributed, transmitted, re-uploaded, republished, displayed, sold, licensed, made available or otherwise communicated to the public or exploited for any purposes except via the features of the Website from time to time and within the parameters set by the Uploader on the Website or with the express written consent of the Uploader. Where you repost another user&rsquo;s Content, or include another user&rsquo;s Content in a set, you acquire no ownership rights whatsoever in that Content. Subject to the rights expressly granted in this section, all rights in Content are reserved to the relevant Uploader.
</span></p><h2 class="c8 c1"><a name="h.yf84w1fpy283"></a>

<span class="c0">Representations and Warranties
</span></h2>

<p class="c3 c1">

<span class="c0">You hereby represent and warrant to Three Repeater as follows:
</span></p>

<p class="c3 c1">

<span class="c0">(i) Your Content, and each and every part thereof, is an original work by you, or you have obtained all rights, licences, consents and permissions necessary in order to use, and (if and where relevant) to authorise Three Repeater to use, Your Content pursuant to these Terms of Use, including, without limitation, the right to upload, reproduce, store, transmit, distribute, share, publicly display, publicly perform, make available and otherwise communicate to the public Your Content, and each and every part thereof, on, through or via the Website, any and all Services and any Linked Services.
</span></p>

<p class="c3 c1">

<span class="c0">(ii) Your Content and the availability thereof on the Website does not and will not infringe or violate the rights of any third party, including, without limitation, any intellectual property rights, performers&rsquo; rights, rights of privacy or publicity, or rights in confidential information.
</span></p>

<p class="c3 c1">

<span class="c0">(iii) You have obtained any and all necessary consents, permissions and/or releases from any and all persons appearing in Your Content in order to include their name, voice, performance or likeness in Your Content and to publish the same on the Website and via any Linked Services.
</span></p>

<p class="c3 c1">

<span class="c0">(iv) Your Content, including any comments that you may post on the Website, is not and will not be unlawful, offensive, abusive, libellous, defamatory, obscene, racist, sexually explicit, ethnically or culturally offensive, indecent, will not promote violence, terrorism, or illegal acts, or incite hatred on grounds of race, gender, religion or sexual orientation.
</span></p>

<p class="c3 c1">

<span class="c0">(v) Your Content does not and will not create any liability on the part of Three Repeater, its subsidiaries, affiliates, successors, and assigns, and their respective employees, agents, directors, officers and/or shareholders.
</span></p>

<p class="c3 c1">

<span class="c0">Three Repeater reserves the right to remove Your Content, suspend or terminate your access to the Website and/or pursue all legal remedies if we believe that any of Your Content breaches any of the foregoing representations or warranties, or otherwise infringes another person&#39;s rights or violates any law, rule or regulation.
</span></p><h2 class="c8 c1"><a name="h.j9txg1fepr47"></a>

<span class="c0">Liability for Content
</span></h2>

<p class="c3 c1">

<span class="c0">You hereby acknowledge and agree that Three Repeater (i) stores Content and other information at the direction, request and with the authorisation of its users, (ii) acts merely as a passive conduit and/or host for the uploading, storage and distribution of such Content, and (iii) plays no active role and gives no assistance in the presentation or use of the Content. You are solely responsible for all of Your Content that you upload, post or distribute to, on or through the Website, and to the extent permissible by law, Three Repeater excludes all liability with respect to all Content (including Your Content) and the activities of its users with respect thereto.
</span></p>

<p class="c3 c1">

<span class="c0">You hereby acknowledge and agree that Three Repeater cannot and does not review the Content created or uploaded by its users, and neither Three Repeater nor its subsidiaries, affiliates, successors, assigns, employees, agents, directors, officers and shareholders has any obligation, and does not undertake or assume any duty, to monitor the Website for Content that is inappropriate, that does or might infringe any third party rights, or has otherwise been uploaded in breach of these Terms of Use or applicable law.
</span></p>

<p class="c3 c1">

<span class="c0">Three Repeater and its subsidiaries, affiliates, successors, assigns, employees, agents, directors, officers and shareholders hereby exclude, to the fullest extent permitted by law, any and all liability which may arise from any Content uploaded to the Website by users, including, but not limited to, any claims for infringement of intellectual property rights, rights of privacy or publicity rights, any claims relating to publication of defamatory, pornographic, obscene or offensive material, or any claims relating to the completeness, accuracy, currency or reliability of any information provided by users of the Website. By using the Website, you irrevocably waive the right to assert any claim with respect to any of the foregoing against Three Repeater or any of its subsidiaries, affiliates, successors, assigns, employees, agents, directors, officers or shareholders.
</span></p><h2 class="c8 c1"><a name="h.e6jk4fw2nmf1"></a>

<span class="c0">Reporting Infringements
</span></h2>

<p class="c3 c1">

<span class="c0">If you discover any Content on the Website that you believe infringes your copyright, please report this to copywrite@threerepeater.com.
</span></p>

<p class="c3 c1">

<span class="c0">Please make sure that you include the following information:
</span></p>
<ul class="c10 lst-kix_wgxxb9617696-0 start">
  <li class="c14 c1">


<span class="c0">any Content that is offensive, abusive, libellous, defamatory, obscene, racist, sexually explicit, ethnically or culturally offensive, indecent, that promotes violence, terrorism, or illegal acts, incites hatred on grounds of race, gender, religion or sexual orientation, or is otherwise objectionable in Three Repeaters reasonable discretion;
</span></li>
    <li class="c14 c1">

<span class="c0">a statement that you have identified Content on Three Repeater that infringes your copyright or the copyright of a third party on whose behalf you are entitled to act;
</span></li>
  <li class="c14 c1">

<span class="c0">a description of the copyright work(s) that you claim have been infringed;
</span></li>
  <li class="c14 c1">

<span class="c0">a description of the Content that you claim is infringing and the Three Repeater URL(s) where such Content can be located;
</span></li>
  <li class="c14 c1">

<span class="c0">your full name, address and telephone number, a valid email address on which you can be contacted, and your Three Repeater&reg; user name if you have one;
</span></li>
  <li class="c14 c1">

<span class="c0">a statement by you that you have a good faith belief that the disputed use of the material is not authorized by the copyright owner, its agent, or the law; and
</span></li>
  <li class="c1 c14">

<span class="c0">a statement by you that the information in your notice is accurate and that you are authorized to act on behalf of the owner of the exclusive right that is allegedly infringed;
</span></li>
</ul>

<p class="c3 c1">

<span class="c0">In addition, if you wish for your notice to be considered as a notice pursuant to the United States Digital Millennium Copyright Act 17 U.S.C. &sect;512(c), please also include the following:
</span></p>
<ul class="c10 lst-kix_wgxxb9617696-0 start">
  <li class="c14 c1">

<span class="c0">with respect to your statement that you are authorized to act on behalf of the owner of the exclusive right that is allegedly infringed, confirmation that such statement is made under penalty of perjury; and
</span></li>
  <li class="c14 c1">

<span class="c0">your electronic or physical signature (which may be a scanned copy).
</span></li>
</ul>

<p class="c3 c1">

<span class="c0">Your notice should be sent to us by email to copywrite@threerepeater.com and/or by mail to the following address:
</span></p>

<p class="c1 c3">

<span class="c0">Three Repeater
</span></p>

<p class="">

<span class="c0">177 Spadina Rd
</span></p>

<p class="">

<span class="c0">Toronto
</span></p>

<p class="">

<span class="c0">Ontario
</span></p>

<p class="">

<span class="c0">Attn: Copyright Team
</span></p>

<p class="c3 c1">

<span class="c0">In all other cases, if you discover Content that infringes any or violates any of your other rights, which you believe is defamatory, pornographic, obscene, racist or otherwise liable to cause widespread offence, or which constitutes impersonation, harassment, spam or otherwise violates these Terms of Use, or applicable law, please report this to us at support [at] Three Repeater.com.
</span></p>

<p class="c3 c2 c1">

<span class="c4">
</span></p><h2 class="c8 c1"><a name="h.e6jk4fw2nmf1"></a>

<span class="c4">Fees and Payment &ndash; Users.
</span></h2>

<p class="c3 c1 ">

<span class="c0">You may purchase products and/or services from an artist through the Website, including without limitation purchases of digital downloads and physical merchandise (each such purchase is a &ldquo;Transaction&rdquo;). All inquiries regarding Transactions will be directed to the relevant artist. Three Repeater &nbsp;is not responsible for refunds for Transactions.
</span></p>

<p class="c3 c1">

<span class="c0">You warrant that if you enter into a Transaction, you shall be able to make full and immediate payment for the requested products or services.
</span></p><h2 class="c8 c1"><a name="h.e6jk4fw2nmf1"></a>

<span class="c4">Fees and Payment &ndash; Bands.
</span></h2>

<p class=" c3 c1">

<span class="c0">You will set the prices for your products that are charged through Transactions (the &ldquo;Prices&rdquo;) through the Website, and you may change the Prices at your sole discretion. Notwithstanding the preceding sentence, Three Repeater may redistribute previously purchased copies of your products to users who have, in Three Repeater&rsquo;s sole determination, received a corrupted copy of your product, an incorrect file format version of your product, an incomplete copy of your product, or suffered a loss of your product through hard drive failure, damage, theft or destruction, on a no-fee basis to the user (i.e., the user is not charged a new fee for the redistribution). Consequently, no additional payments shall be made to you for such redistributions.
</span></p>

<p class="c3 c1">

<span class="c0">Three Repeater shall be entitled to a share of the revenue you receive from Transactions (the &ldquo;Revenue Share&rdquo;), which shall be calculated on your gross revenue from Transactions in accordance with the rate schedule set forth at www.threerepeater.com. You shall be solely responsible and liable for, and Three Repeater shall have no responsibility or liability for, any bad debts (such as credit card returns or fraud), PayPal fees (except for fees charged on Company&rsquo;s PayPal account), credit card transaction fees, disputed payments and refunds.
</span></p>

<p class="c3 c1">

<span class="c0">Three Repeater &nbsp;retains the right, but does not have the obligation, to immediately halt the offering or sale of any goods or services, prevent or restrict access to the Website or the Services or take any other action in case of technical problems, objectionable material, inaccurate listings, or actions otherwise prohibited by the procedures and guidelines contained on the Website, or for any other reason in the sole and absolute discretion of Three Repeater, and to correct any inaccurate listing or technical problems on the Website.
</span></p><h2 class="c8 c1"><a name="h.e6jk4fw2nmf1"></a>



<span class="c0">Additional Fees.
</span></h2>

<p class=" c3 c1">

<span class="c0">In addition to the fees set forth above, Three Repeater reserves the right to require payment of fees for certain additional features of the Service. Should you elect to subscribe to such features, you shall pay all applicable fees, as described on the Website in connection with such features. Company reserves the right to change its price list and to institute new charges at any time, upon ten (10) days prior notice to you, which may be sent by email or posted on the Site. Use of the Service by you following such notification constitutes your acceptance of any new or increased charges.
</span></p><h2 class="c8 c1"><a name="h.8t6bzsg4ppj9"></a>

<span class="c0">Third Party Websites and Services
</span></h2>

<p class="c3 c1">

<span class="c0">The Website may provide you with access to third party websites, databases, networks, servers, information, software, programs, systems, directories, applications, products or services, including without limitation, Linked Services (hereinafter &ldquo;External Services&rdquo;).
</span></p>

<p class="c3 c1">

<span class="c0">Three Repeater does not have or maintain any control over External Services, and is not and cannot be responsible for their content, operation or use. By linking or otherwise providing access to any External Services, Three Repeater does not give any representation, warranty or endorsement, express or implied, with respect to the legality, accuracy, quality or authenticity of content, information or services provided by such External Services.
</span></p>

<p class="c3 c1">

<span class="c0">External Services may have their own terms of use and/or privacy policy, and may have different practices and requirements to those operated by Three Repeater with respect to the Website. You are solely responsible for reviewing any terms of use, privacy policy or other terms governing your use of these External Services, which you use at your own risk. You are advised to make reasonable enquiries and investigations before entering into any transaction, financial or otherwise, and whether online or offline, with any third party related to any External Services.
</span></p>

<p class="c3 c1">

<span class="c0">You are solely responsible for taking the precautions necessary to protect yourself from fraud when using External Services, and to protect your computer systems from viruses, worms, Trojan horses, and other harmful or destructive content and material that may be included on or may emanate from any External Services.
</span></p>

<p class="c3 c1">

<span class="c0">Three Repeater disclaims any and all responsibility or liability for any harm resulting from your use of External Services, and you hereby irrevocably waive any claim against Three Repeater with respect to the content or operation of any External Services.
</span></p><h2 class="c8 c1"><a name="h.bklckqsb3qly"></a>

<span class="c0">Blocking and Removal of Content
</span></h2>

<p class="c3 c1">

<span class="c0">Notwithstanding the fact that Three Repeater has no legal obligation to monitor the Content on the Website, Three Repeater reserves the right to block, remove or delete any Content at any time, and to limit or restrict access to any Content, for any reason and without liability, including without limitation, if we have reason to believe that such Content does or might infringe the rights of any third party, has been uploaded or posted in breach of these Terms of Use,
</span>

<span>&nbsp;
</span>

<span class="c0">or applicable law, or is otherwise unacceptable to Three Repeater.
</span></p>

<p class="c3 c1">

<span class="c0">Please also note that individual Uploaders have control over the audio Content that they store in their account from time to time, and may remove any or all audio Content or other Content without notice. You have no right of continued access to any particular item of Content and Three Repeater shall have no liability in the event that you are unable to access an item of Content due to its removal from the Website, whether by Three Repeater or the relevant Uploader.
</span></p><h2 class="c8 c1"><a name="h.9iokqjet55l"></a>

<span class="c0">Repeat Infringers
</span></h2>

<p class="c3 c1">

<span class="c0">Three Repeater will suspend or terminate your access to the Website if Three Repeater determines, in its reasonable discretion, that you have repeatedly breached these Terms of Use.
</span>

<span class="c0">.
</span></p>

<p class="c3 c1">

<span class="c0">If we receive a valid notification from a third party in accordance with our reporting processes or applicable law that any of Your Content infringes the copyright or other rights of such third party, or if we believe that your behaviour is inappropriate
</span>

<span class="c0">, we will send you a written warning to this effect. Any user that receives more than two of these warnings is liable to have their access to the Website terminated forthwith.
</span></p>

<p class="c3 c1">

<span class="c0">We will also suspend or terminate your account without warning if ordered to do so by a court, and/or in other appropriate circumstances, as determined by Three Repeater at its discretion.
</span></p>

<p class="c3 c1">

<span class="c0">Please note we do not offer refunds to Artists account holders whose accounts are terminated as a result of repeated infringement of these Terms of Use.
</span></p><h2 class="c8 c1"><a name="h.jpcewehiij53"></a>

<span class="c0">Disclaimer
</span></h2>

<p class="c3 c1">

<span class="c0">THE Website, INCLUDING, WITHOUT LIMITATION, THE WEBSITE, THE APPS AND ALL CONTENT AND SERVICES ACCESSED THROUGH OR VIA THE WEBSITE, THE APPS OR OTHERWISE, ARE PROVIDED &ldquo;AS IS&rdquo;, &ldquo;AS AVAILABLE&rdquo;, AND &ldquo;WITH ALL FAULTS&rdquo;.
</span></p>

<p class="c3 c1">

<span class="c0">WHILST Three Repeater USES REASONABLE ENDEAVOURS TO CORRECT ANY ERRORS OR OMISSIONS IN THE Website AS SOON AS PRACTICABLE ONCE THEY HAVE BEEN BROUGHT TO Three Repeater&rsquo;S ATTENTION, Three Repeater MAKES NO PROMISES, GUARANTEES, REPRESENTATIONS OR WARRANTIES OF ANY KIND WHATSOEVER (EXPRESS OR IMPLIED) REGARDING THE WEBSITE, THE APPS, THE SERVICES OR ANY PART OR PARTS THEREOF, ANY CONTENT, OR ANY LINKED SERVICES OR OTHER EXTERNAL SERVICES. Three Repeater DOES NOT WARRANT THAT YOUR USE OF THE Website WILL BE UNINTERRUPTED, TIMELY, SECURE OR ERROR-FREE, THAT DEFECTS WILL BE CORRECTED, OR THAT THE Website OR ANY PART OR PARTS THEREOF, THE CONTENT, OR THE SERVERS ON WHICH THE Website OPERATES ARE OR WILL BE FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS. Three Repeater DOES NOT WARRANT THAT ANY TRANSMISSION OF CONTENT UPLOADED TO THE Website WILL BE SECURE OR THAT ANY ELEMENTS OF THE Website DESIGNED TO PREVENT UNAUTHORISED ACCESS, SHARING OR DOWNLOAD OF CONTENT WILL BE EFFECTIVE IN ANY AND ALL CASES, AND DOES NOT WARRANT THAT YOUR USE OF THE Website IS LAWFUL IN ANY PARTICULAR JURISDICTION.
</span></p>

<p class="c3 c1">

<span class="c0">Three Repeater AND ITS SUBSIDIARIES, AFFILIATES, SUCCESSORS, AND ASSIGNS, AND THEIR RESPECTIVE EMPLOYEES, AGENTS, DIRECTORS, OFFICERS AND SHAREHOLDERS, SPECIFICALLY DISCLAIM ALL OF THE FOREGOING WARRANTIES AND ANY OTHER WARRANTIES NOT EXPRESSLY SET OUT HEREIN TO THE FULLEST EXTENT PERMITTED BY LAW, INCLUDING WITHOUT LIMITATION ANY EXPRESS OR IMPLIED WARRANTIES REGARDING NON-INFRINGEMENT, MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE.
</span></p>

<p class="c3 c1">

<span class="c0">WHERE THE LAW OF ANY JURISDICTION LIMITS OR PROHIBITS THE DISCLAIMER OF IMPLIED OR OTHER WARRANTIES AS SET OUT ABOVE, THE ABOVE DISCLAIMERS SHALL NOT APPLY TO THE EXTENT THAT THE LAW OF SUCH JURISDICTION APPLIES TO THIS AGREEMENT.
</span></p>

<p class="c5 c3 c1">

<span class="c4">Limitation of
</span>

<span class="c0 c21">Liability
</span></p>

<p class="c5 c3 c1">

<span class="c0">IN NO
</span>

<span class="c4">EVENT
</span>

<span class="c0">SH
</span>

<span class="c4">ALL Three Repeater&rsquo;S A
</span>

<span class="c0">GGREGATE LIABILITY TO YOU UNDER THIS AGREEMENT EXCEED THE
</span>

<span class="c4">GREATER
</span>

<span class="c0">OF
</span>

<span class="c4">100
</span>

<span class="c0">EURO OR THE AMOUNTS (IF ANY) PAID BY YOU TO Three Repeater DURING THE PREVIOUS TWELVE (12) MONTHS FOR THE SERVICES GIVING RISE TO THE CLAIM.
</span></p>

<p class="c3 c1">

<span class="c0">Three Repeater AND ITS SUBSIDIARIES, AFFILIATES, SUCCESSORS, AND ASSIGNS, AND THEIR RESPECTIVE EMPLOYEES, AGENTS, DIRECTORS, OFFICERS AND SHAREHOLDERS, SHALL HAVE NO LIABILITY FOR:
</span></p>
<ol class="c10 lst-kix_i44mcmb54rv-0 start" start="1">
  <li class="c1 c6">

<span class="c0">ANY LOSS OR DAMAGE ARISING FROM:
</span></li>
  <li class="c6 c1">

<span class="c0">(A) YOUR INABILITY TO ACCESS OR USE THE Website OR ANY PART OR PARTS THEREOF, OR TO ACCESS ANY CONTENT OR ANY EXTERNAL SERVICES VIA THE Website;
</span></li>
  <li class="c6 c1">

<span class="c0">(B) ANY CHANGES THAT Three Repeater MAY MAKE TO THE Website OR ANY PART THEREOF, OR ANY TEMPORARY OR PERMANENT SUSPENSION OR CESSATION OF ACCESS TO THE Website OR ANY CONTENT IN OR FROM ANY OR ALL TERRITORIES;
</span></li>
  <li class="c6 c1">

<span class="c0">(C) ANY ACTION TAKEN AGAINST YOU BY THIRD PARTY RIGHTSHOLDERS WITH RESPECT TO ANY ALLEGED INFRINGEMENT OF SUCH THIRD PARTY&rsquo;S RIGHTS RELATING TO YOUR CONTENT OR YOUR USE OF THE Website, OR ANY ACTION TAKEN AS PART OF AN INVESTIGATION BY Three Repeater OR ANY RELEVANT LAW ENFORCEMENT AUTHORITY REGARDING YOUR USE OF THE Website;
</span></li>
  <li class="c6 c1">

<span class="c0">(D) ANY ERRORS OR OMISSIONS IN THE Website&rsquo;S TECHNICAL OPERATION, OR FROM ANY INACCURACY OR DEFECT IN ANY CONTENT OR ANY INFORMATION RELATING TO CONTENT;
</span></li>
  <li class="c6 c1">

<span class="c0">(E) YOUR FAILURE TO PROVIDE Three Repeater WITH ACCURATE OR COMPLETE INFORMATION, OR YOUR FAILURE TO KEEP YOUR USERNAME OR PASSWORD SUITABLY CONFIDENTIAL;
</span></li>
  <li class="c6 c1">

<span class="c0">ANY LOSS OR DAMAGE TO ANY COMPUTER HARDWARE OR SOFTWARE, ANY LOSS OF DATA (INCLUDING YOUR CONTENT), OR ANY LOSS OR DAMAGE FROM ANY SECURITY BREACH; AND/OR
</span></li>
  <li class="c1 c16">

<span class="c0">ANY LOSS OF PROFITS, OR ANY LOSS YOU SUFFER WHICH IS NOT A FORESEEABLE CONSEQUENCE OF Three Repeater BREACHING THESE TERMS OF USE. LOSSES ARE FORESEEABLE WHERE THEY COULD BE CONTEMPLATED BY YOU AND Three Repeater AT THE TIME YOU AGREE TO THESE TERMS OF USE, AND THEREFORE DO NOT INCLUDE ANY INDIRECT LOSSES, SUCH AS LOSS OF OPPORTUNITY.
</span></li>
</ol>

<p class="c3 c1">

<span class="c0">ANY CLAIM OR CAUSE OF ACTION ARISING OUT OF OR RELATED TO YOUR USE OF THE Website MUST BE NOTIFIED TO Three Repeater AS SOON AS POSSIBLE.
</span></p>

<p class="c3 c1">

<span class="c0">APPLICABLE LAW MAY NOT ALLOW THE LIMITATION OR EXCLUSION OF LIABILITY FOR INCIDENTAL OR CONSEQUENTIAL DAMAGES, SO THE ABOVE LIMITATIONS OR EXCLUSIONS MAY NOT APPLY TO YOU. IN SUCH CASES, YOU ACKNOWLEDGE AND AGREE THAT SUCH LIMITATIONS AND EXCLUSIONS REFLECT A REASONABLE AND FAIR ALLOCATION OF RISK BETWEEN YOU AND Three Repeater AND ARE FUNDAMENTAL ELEMENTS OF THE BARGAIN BETWEEN YOU AND Three Repeater, AND THAT Three Repeater&rsquo;S LIABILITY WILL BE LIMITED TO THE MAXIMUM EXTENT PERMITTED BY LAW.
</span></p>

<p class="c3 c1">

<span class="c0">NOTHING IN THESE TERMS OF USE LIMITS OR EXCLUDES THE LIABILITY OF Three Repeater, ITS SUBSIDIARIES, SUCCESSORS, ASSIGNS, OR THEIR RESPECTIVE EMPLOYEES, AGENTS, DIRECTORS, OFFICERS AND/OR SHAREHOLDERS: (I) FOR ANY DEATH OR PERSONAL INJURY CAUSED BY ITS OR THEIR NEGLIGENCE, (II) FOR ANY FORM OF FRAUD OR DECEIT, (III) FOR ANY DAMAGES CAUSED WILFULLY OR BY GROSS NEGLIGENCE, OR (IV) FOR ANY FORM OF LIABILITY WHICH CANNOT BE LIMITED OR EXCLUDED BY LAW.
</span></p><h2 class="c8 c1"><a name="h.c717p7z08xbr"></a>

<span class="c0">Indemnification
</span></h2>

<p class="c3 c1">

<span class="c0">You hereby agree to indemnify, defend and hold harmless Three Repeater, its successors, assigns, affiliates, agents, directors, officers, employees and shareholders from and against any and all claims, obligations, damages, losses, expenses, and costs, including reasonable attorneys&#39; fees, resulting from:
</span></p>

<p class="c3 c1">

<span class="c0">(i) any violation by you of these Terms of Use
</span>


<p class="c3 c1">

<span class="c0">(ii) any third party claim of infringement of copyright or other intellectual property rights or invasion of privacy arising from the hosting of Your Content on the Website, and/or your making available thereof to other users of the Website, and/or the actual use of Your Content by other users of the Website or Linked Services in accordance with these Terms of Use and the parameters set by you with respect to the distribution and sharing of Your Content;

</span></p>

<p class="c3 c1">

<span class="c0">(iii) any activity related to your account, be it by you or by any other person accessing your account with or without your consent unless such activity was caused by the act or default of Three Repeater.
</span></p><h2 class="c8 c1"><a name="h.t0kr0qg02wzi"></a>

<span class="c0">Termination
</span></h2>

<p class="c3 c1">

<span class="c0">You may terminate this Agreement at any time by sending notice in writing to Three Repeater at 177 Spadina Rd Toronto Ontario confirming such termination, by removing all of Your Content from your account, by deleting your account and thereafter by ceasing to use the Website.
</span></p>

<p class="c1 c3">

<span class="c0">Three Repeater may suspend your access to the Website and/or terminate this Agreement at any time if (i) you are deemed to be a
Repeat Infringer
</span>

<span class="c0">&nbsp;as described above; (ii) you are in breach of any of the material provision of these Terms of Use, including without limitation, the provisions of the following sections:
Your Use of the Website, Your Content, Grant of Licence, and Your Representations and Warranties
</span>

<span class="c0">; (iii) Three Repeater elects at its discretion to cease providing access to the Website in the jurisdiction where you reside or from where you are attempting to access the Website, or (iv) in other reasonable circumstances as determined by Three Repeater at its discretion. If you have a Pro Account and your account is suspended or terminated by Three Repeater pursuant to (i) or (ii) above, you will not be entitled to any refund for any unexpired period of your subscription. If your account is terminated pursuant to (iii) or (iv), refunds may be payable at the reasonable discretion of Three Repeater.
</span></p>

<p class="c3 c1">

<span class="c0">Once your account has been terminated, any and all Content residing in your account, or pertaining to activity from your account (for example, data relating to the distribution or consumption of your sounds), will be irretrievably deleted by Three Repeater, except to the extent that we are obliged or permitted to retain such content, data or information for a certain period of time in accordance with applicable laws and regulations and/or to protect our legitimate business interests. You are advised to save or back up any material that you have uploaded to your account before terminating your account, as Three Repeater assumes no liability for any material that is irretrievably deleted following any termination of your account. Three Repeater is not able to provide you with any .csv or other similar file of data relating to activity associated with your account, whether before or after termination or cancellation. This data is provided and is accessible only for viewing via your account page on the Website for as long as your account is active.
</span></p>

<p class="c3 c1">

<span class="c0">If you access the Website via any of our Apps or via any third party app connected to your account, deleting that app will not delete your account. If you wish to delete your account, you will need to do so from the Account page within your Settings on the Website.
</span></p>

<p class="c3 c1">

<span class="c0">The provisions of these Terms of Use that are intended by their nature to survive the termination or cancellation of this Agreement will survive the termination of this Agreement, including, but not limited to, those Sections entitled
Your Three Repeater Account, Your Content, Grant of Licence, Representations and Warranties, Liability for Content, Disclaimer,
Limitation of Liability, Indemnification, Termination and Right of Cancellation, Assignment to Third Parties, Severability,Entire Agreement
, and Applicable Law and Jurisdiction, respectively.
</span></p>

<h2 class="c8 c1"><a name="h.ejgv13c02ktd"></a>

<span class="c0">Assignment to Third Parties
</span></h2>

<p class="c3 c1">

<span class="c0">Three Repeater may assign its rights and (where permissible by law) its obligations under this Agreement, in whole or in part, to any third party at any time without notice, including without limitation, to any person or entity acquiring all or substantially all of the assets or business of Three Repeater. You may not assign this Agreement or the rights and duties hereunder, in whole or in part, to any third party without the prior written consent of Three Repeater.
</span></p><h2 class="c8 c1"><a name="h.36ucqe9uuokx"></a>

<span class="c0">Severability
</span></h2>

<p class="c3 c1">

<span class="c0">Should one or more provisions of these Terms of Use be found to be unlawful, void or unenforceable, such provision(s) shall be deemed severable and will not affect the validity and/or enforceability of the remaining provisions of the Terms of Use, which will remain in full force and effect.
</span></p>

<p class="c1">

<span class="c4">Downloaded from
</span>

<span class="c4 c9 c19"><a class="c11" href="http://www.google.com/url?q=http%3A%2F%2Fwww.wikihow.com&amp;sa=D&amp;sntz=1&amp;usg=AFQjCNE7qf24Z6NPA0-XIJwmRPDe-nGuCQ">http://www.wikihow.com</a>
</span></p>
</body>
</html>