<div class="pages black-bg white paralax" id="page-thankyou" >

  <!-- Centralized content -->

  <div class="container">
    <!-- Header -->
    <header>

      <h1>Confirm Your Email</h1>
      <div class="row">
        <div class="span8 offset2">
          <h3>Thanks for Signing up!</br>

            To finish please click on the link we just sent to your email.
          </h3>
        </div>
      </div>
    </header>
    <!-- End Header -->

    <!-- Start Article -->
    <article>
      <div class="row-fluid">

          <div class="logo">

            <a href="http://www.threerepeater.com">
              <img src="/images/logo/logo-white-trasparent-home-page.png" alt="Three Repeater Logo White Tras">
            </a>


          </div>


        </div>
        <!-- End Contact form -->

        <!-- End Contact information -->
      </div>
    </article>
    <!-- End Article -->

  </div>



</div>

