

<!-- PAGE | WELCOME -->
<div class="pages white paralax" id="page-welcome">

  <div class="overlay"></div>
  <!-- Centralized content -->
  <div class="centralized">
    <div class="container">
      <div class="row-fluid">
        <div class="span12 center">
          <!-- Animated logo -->

          <h1>Confirm Your Email</h1> </br>


          <h3>Thanks for Signing up!</br>

            To finish please click on the link we just sent to your email.
          </h3>

          <div class="logo">

            <a href="http://www.threerepeater.com">
              <img src="/images/logo/logo-white-trasparent-home-page.png" alt="Three Repeater Logo White Tras">
            </a>


          </div>
\
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END PAGE | Welcome -->






