<span class="close" style="position:absolute; top:10px; right:10px;"></span>
<div class="buy_header" style="padding: 15px;text-transform: uppercase; font-weight:600">Buy Song </div>

<form accept-charset="UTF-8" action="<%=payment_method_path(@artist.url_slug,"song",@song.id )%>" class="pwyc_form" enctype="multipart/form-data" data-validate="true"  method="post" novalidate="novalidate"><div><input name="utf8" type="hidden" value="&#x2713;" />


  <input name="authenticity_token" id="token" type="hidden" value=""/></div>

  <table style="width:100%;margin:60px auto;">
    <tr>
      <td style="width:30%;text-align:right;"><label for="amount">Amount</label></td>
      <td style="width:70%;text-align:left;padding-left:30px"> <input id="amount" name="amount" type="text" size="3" value="<%=@song.amount%>" /> </td>
    </tr>
    <tr>

       <td></td>
       <td style="padding-top:60px;"> <button name="commit" type="submit" class="id_make-purchase">Download</button></td>
    </tr>
  </table>

  <!--For order processing-->

  <!--defines the type of object it is-->
  <input id="url_slug" name="url_slug" type="hidden" value="<%= @artist.url_slug %>" />
  <input id="object" name="object" type="hidden" value="song" />
  <input id="song_album_or_event_id" name="song_album_or_event_slug" type="hidden" value="<%=@song.id%>" />
</form>

<script type="text/javascript">

    $(function(){
        var token = $('meta[name="csrf-token"]').attr('content');
        $("#token").val(token);
    });


    $('.close').click(function(){
        $('#dialogWindow').remove();
        $('#overlay').remove();
    });
</script>



