
<head>
	<title>S3 POST Form</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

	<%= javascript_include_tag :'defaults', 'rails.validations', 'jquery.rails', 'jquery.backstretch.min', 'showHide.js' %>
	<script src="/blueimp_file_upload/js/vendor/jquery.ui.widget.js"></script>
	<script src="/blueimp_file_upload/js/jquery.fileupload.js"></script>
	<script src="/blueimp_file_upload/js/jquery.fileupload-fp.js"></script>
	<script src="/blueimp_file_upload/js/jquery.fileupload-ui.js"></script>
	<script src="/blueimp_file_upload/js/jquery.iframe-transport.js"></script>


<style>
	#progress_bar {
		width: 200px;
		margin: 10px 0;
		padding: 3px;
		border: 1px solid #000;
		font-size: 14px;
		clear: both;
		opacity: 0;
		-moz-transition: opacity 1s linear;
		-o-transition: opacity 1s linear;
		-webkit-transition: opacity 1s linear;
	}
	#progress_bar.loading {
		opacity: 1.0;
	}
	#progress_bar .percent {
		background-color: #99ccff;
		height: auto;
		width: 0;
	}

</style>


<script type="text/javascript">
	$(function() {

//		$('[direct-upload]').each(function() {

			var form = $(this).parents('form').first()

			$('#fileupload').fileupload({
				url: form.attr('action'),
				type: 'POST',
				autoUpload: true,
				dataType: 'xml', // This is really important as s3 gives us back the url of the file in a XML document
				add: function (event, data) {
					$.ajax({
						url: "/signed_urls",
						type: 'GET',
						dataType: 'json',
						data: {doc: {title: data.files[0].name}}, // send the file name to the server so it can generate the key param
						async: false,
							success: function(data) {
							// Now that we have our data, we update the form so it contains all
							// the needed data to sign the request
							form.find('input[name=key]').val(data.key)
							form.find('input[name=policy]').val(data.policy)
							form.find('input[name=signature]').val(data.signature)
						   }
					})
				data.submit();
				},

			send: function(e, data) {
				$('.progress').fadeIn();
			},

			progress: function(e, data){
				// This is what makes everything really cool, thanks to that callback
				// you can now update the progress bar based on the upload progress
				var percent = Math.round((e.loaded / e.total) * 100)
				$('.bar').css('width', percent + '%')
			},
				fail: function(e, data) {
					console.log('fail')
				},
			success: function(data) {
//				// Here we get the file url on s3 in an xml doc
//				var url = $(data).find('Location').text()

//				$('#real_file_url').val(url) // Update the real input in the other form
			},

			done: function (event, data) {
				$('.progress').fadeOut(300, function() {
					$('.bar').css('width', 0)
				})
			}
			})
//			})
	})
</script>

</head>

<body>
<h1>
	Policy Info   </h1>
<%= @policy_test %>
<br/>

<h1>Upload 1</h1>


<form action="http://ted_kennedy.s3.amazonaws.com/" method="post" enctype="multipart/form-data" >
	<input type="hidden" name="key" value="test8.mp3">
	<input type="hidden" name="AWSAccessKeyId" value="AKIAJBCDYICH6VCMN6ZA">
	<input type="hidden" name="acl" value="public-read">
	<input type="hidden" name="success_action_redirect" >
	<input type="hidden" name="policy" value= <%= @policy%> >
	<input type="hidden" name="signature" value=<%= @signature%>>
	<input type="hidden" name="Content-Type" value="audio/mpeg">
	<input type="hidden" name="x-amz-meta-my-file-name" value="Wow, work">
	<input type="hidden" name="Content-Disposition" value ="attachment;filename=AMAZING.mp3">

	<!-- Include any additional input fields here -->
	File to upload to S3:
	<input type="file" id="fileupload" name="file" >
	<br>
	<input type="submit" value="Upload File to S3">
</form>

<table>

	<tr>
		<td>Progress:</td>
		<td><div id="progress_bar"><div class="percent">0%</div></div></td>
	</tr>
	<tr>
		<td>Status:</td>
		<td><span id="status"></span></td>
	</tr>
</table>




<h1>Download</h1>
<a href="https://s3.amazonaws.com/ted_kennedy/song4.mp3">download</a>
</body>