<script type="text/javascript" src="/javascripts/hide-logo-and-nav.js"></script>
<script type="text/javascript">
	$(document).ready(function(){
		$('.ajax_update').enableClientSideValidations();
	});
</script>

<div class="row-fluid">
  <!-- Contact form -->
  <div class="span10 offset1">
    <div class="row-fluid">


        <div class="editPage">

            <h2>Editing Song</h2>


            <h3>Re Upload Song</h3>

            <%= @s3_upload.html_safe %>


            <h3>Upload Image</h3>
            <%= @song_image_upload.html_safe %>


            <h3>Update Info</h3>

            <%= @form.html_safe %>


            </br>

        </div>
     </div>
   </div>
  </div>