
<script type="text/javascript" src="/javascripts/hide-logo-and-nav.js"></script>

<div class="row-fluid">
  <!-- Contact form -->
  <div class="span10 offset1">
    <div class="row-fluid">

        <div class="editPage">

            <h2>Add A Song</h2>

            <h3>Upload Song</h3>

                <%= @s3_upload.html_safe %>

            <h3>Upload Image</h3>
                <%= @song_image_upload.html_safe %>

            <h3>Song Info </h3>


                <%= @form.html_safe %>

            </br>

        </div>
    </div>
  </div>
</div>