
<script type="text/javascript" src="/javascripts/hide-logo-and-nav.js"></script>

<div class="editPage">

<h1>Create a new song</h1>

<h2>Upload Song</h2>

	<%= @s3_upload.html_safe %>

<h2>Upload Image</h2>
	<%= @song_image_upload.html_safe %>

<h2>Song Info </h2>


	<%= @form.html_safe %>

</br>

</div>