<!--had to hard code form for some reason.  The form tag was causing a validation error.-->


<script type="text/javascript">
	$(function(){
		var token = $('meta[name="csrf-token"]').attr('content');
		$("#token").val(token);
	});
</script>


<form accept-charset="UTF-8" action="<%=find_album_code_path(@artist.url_slug)%>" class= "ajax_update" enctype="multipart/form-data" data-validate="true"  method="post" novalidate="novalidate"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" />


	<input name="authenticity_token" id="token" type="hidden" value=""/></div>


	<label for="code">Download Code</label>
	<input id="code" name="code" type="text" size="15" />
	<input name="commit" type="submit" value="Download" />


</form>



