


<h1><%=@artist.name%></h1>
<h2>Download</h2>

<%= render 'code_find' %>

<%= link_to "Back to Artist", artist_link_path(@artist.url_slug)%>
<br />
<br />
<br />

<iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Flocalhost%3A3000%2Fgrimes%2Fdownload-code&amp;send=false&amp;layout=button_count&amp;width=450&amp;show_faces=true&amp;action=like&amp;colorscheme=light&amp;font&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:21px;" allowTransparency="true"></iframe>