
<script type="text/javascript" src="/javascripts/hide-logo-and-nav.js"></script>
<script type="text/javascript">
	$(document).ready(function(){
		$('.ajax_update').enableClientSideValidations();
	});
</script>

<div class="row-fluid">
  <!-- Contact form -->
  <div class="span10 offset1">
    <div class="row-fluid">
        <div class="editPage">
            <h2>Editing album</h2>

            <h3>Album Art Upload</h3>
            <p>Minimum of 200px by 200px please.</p>
            <%= @album_art_upload.html_safe  %>



            <%= @form.html_safe %>

        </div>
     </div>
    </div>
  </div>

