<% @artist.albums.uniq.each do |album| %>

	<% unless album.album_url_slug.blank? %>
		<div class="album">
			<a href="<%= artist_show_album_path(@artist.url_slug, album.album_url_slug) %>/playlist-create" class="load-playlist  albumLink"><img src="<%= album.art %>" /></a>
			<h1><a href="<%= artist_show_album_path(@artist.url_slug, album.album_url_slug) %>"><%= album.al_name %></a></h1>
		</div>
	<% end %>
<% end %>