
<script type="text/javascript" src="/javascripts/hide-logo-and-nav.js"></script>
<script type="text/javascript">
	$(document).ready(function(){
		$('.ajax_update').enableClientSideValidations();
	});
</script>

<div class="editPage">

	<h1>New album</h1>

	<%= @form.html_safe %>

</div>