<style type="text/css">
.backPane
{
	position: absolute;
	z-index:100;
	width: 25px;
	top:0;
	left: -30px;
	display:block;
	background-color: #F00;
}
.leftPane
{
	position:absolute;
	width:280px;
	top:20px;
	left:20px;
	text-align: center;
}
.rightPane
{
	position: absolute;
	left:320px;
	top:20px;
	right:20px;
	font-family: arial;
	font-size:14px;
}

.rightPane h1
{
	text-align: left;
	font-family: 'verb_regularregular';
	font-size:20px;
}
.rightPane h2
{
	text-align: left;
	font-family: 'verb_lightregular';
	font-size:16px;
	color:#aaa;
	font-weight: 100;
}
</style>
<div class="backPane">t</div>
<div class="leftPane">
	<div><img src="<%= @album.art %>" /></div>
</div>
<div class="rightPane"><h1><%= @album.al_name %></h1><br /><h2><%= @album.description %></h2></div>