<!--loads both edit controls, and floating content. Refeshes all content-->

<div class="edit-controls">

	<script type="text/javascript">
		//http://redhotsly.github.io/simple-expand/
		$('.adminLink').simpleexpand({'defaultTarget': '.edit-controls' });
	</script>


	<%= render template: "layouts/admin_controls.erb" %>

</div>

<div class="bodyArea">

	<%= render template: "layouts/artist_floating_content.html.erb" %>

</div>