<!--loads both edit controls, and floating content. Refeshes all content-->

<div class="row-fluid">




  <div class="bodyArea">

     <div class="artistArea span10 offset1">

     <%= render template: "layouts/artist_floating_content.html.erb" %>

     </div>



      <div class="edit-controls span3 pull-right hide" >

        <%= render template: "layouts/admin_controls.erb" %>

      </div>

  </div>




</div>







