<!--For User Pages-->


	<script type="text/javascript">

		//Loads background image for all users.
		$.backstretch("/assets-public/images/pages/welcome/records_shelves.jpg");

		//Removes Edit Controls b/c they stick around after ajax load
		$( ".edit-controls" ).remove();

	</script>

    <div class="row-fluid">

        <div class="userHome span10 offset1">

                <%= yield %>

        </div>

    </div>

